<html>

<h1 align="center" style="background-color:powderblue">PhotoSite</h1>
<body>

<table width="100%" border="10" align="center" id="tab">
  <tr>

    <th>User Id</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>


  <% @user_all.each do |user_all| %>
    <tr align="center">
      <td><%= user_all.id %></td>
      <td><%= link_to user_all.first_name ,{:action=>"index", :controller=>"photo", :id=> user_all.id} %></td>
      <td><%= user_all.last_name %></td>
    </tr>

  <%end %>
</table>
</body>
</html>